<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.canteenapp" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/WhiteWithBlack" >
        <activity android:name=".Util.NoInternet" />
        <activity
            android:name=".History.itemHistory"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
        <activity
            android:name=".AdminComponent.AdminFilterPage"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
        <activity
            android:name=".QrCodeImplementation.QrCamera"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
        <activity
            android:name=".AdminAlgorithm"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
        <activity
            android:name=".FoodList.Food"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
        <activity android:name=".OrderList.OrderIteam" />
        <activity
            android:name=".Registration.Registration"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
        <activity
            android:name=".AdminComponent.AdminPanel"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
        <activity
            android:name=".BottomNavigation"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Splashscreen.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/WhiteWithBlack" />
    </application>

</manifest>